@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap";

@import "helpers";

@import "components/navtabs";

@import "layout/navbar";
@import "layout/navtop";
@import "layout/sidebar";

@import "cards/card";

@import "session/center-container";
@import "session/teach";
@import "session/video";

@import "table-select";
@import "themes";
@import "login";

.btn:focus {
  outline: none;
}

a {
  color: #00B7FF;
}

.title-container {
  text-align: center;
}