<template name="addCard">
  <div class="card add">
    <div class="content">
      <div class="overlay">
        <div class="form-group">
          <input id="title-input" placeholder="Title" class="form-control"/>
        </div>
        <div class="form-group">
          <input id="phrases-input" placeholder="Phrases" class="form-control"/>
        </div>
        <!-- TODO: make this a file upload -->
        <div class="form-group">
          <input id="url-input" placeholder="Image Url" class="form-control"/>
        </div>
        <div class="center">
          <input id="addCard" type="submit" value="Add Card" class="btn btn-default"/>
        </div>
      </div>
    </div>
  </div>
</template>