<template name="addCard">
  <div class="card add">
    <div class="content">
      <div class="overlay">
        <div class="form-group">
          <input placeholder="Front" class="form-control front"/>
        </div>
        <div class="form-group">
          <input placeholder="Back" class="form-control back"/>
        </div>
        <!-- TODO: make this a file upload or image search -->
        <div class="form-group">
          <input placeholder="Image Url" class="form-control imageUrl"/>
        </div>
        <div class="center">
          <input id="add-card-btn" type="submit" value="Add Card" class="btn btn-default"/>
        </div>
      </div>
    </div>
  </div>
</template>