<template name="card">
  <div class="simple card" id="{{_id}}">
    <div class="inner">
      <div class="content">
        <img width="150" src="{{imageUrl}}"/>
      </div>
      <div class="overlay" hidden>
        {{#if editing 'front'}}
          {{> cardInput card=this type='front'}}
        {{else}}
          <h1 class="front center editable" data-field="front">{{front}}</h1>
        {{/if}}
        <button class="btn btn-xs btn-danger delete top-right">
          <i class="fa fa-remove danger"></i>
        </button>
        {{#if editing 'back'}}
          {{> cardInput card=this type='back'}}
        {{else}}
          <div class="back">
            <p class="back center editable" data-field="back">{{back}}</p>
          </div>
        {{/if}}
        <form class="form-group form-image">
          {{#if editing 'image'}}
            <input class="form-control input-image"
                   value="{{imageUrl}}"
                   placeholder="[no image url]">
          {{/if}}
          <button class="btn btn-xs btn-default btn-image bottom-right {{#unless editing 'image'}}editable{{/unless}}"
          data-field="image">
            <i class="fa fa-image"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
