<template name="navbar">
  <nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">LangTime</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <h4 class="nav-heading navbar-left">
        {{currentPageName}}
      </h4>
      <ul class="nav navbar-nav navbar-right">
        {{#if showLibrary}}
          <li class="card-library action">
            <a href="#">
              Card Library
              <span class="sr-only">(Card Library)</span>
            </a>
          </li>
        {{/if}}
        {{#if loggedIn}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{username}}&nbsp;
              <i class="fa fa-user"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <!-- <li class="username"><a href="">  </a></li>
              <li class="divider"></li> -->
              <li class="settings"><a href="#"> <i class="fa fa-gear"></i> Settings </a></li>
              <li class="logout"><a href="#"> <i class="fa fa-user"></i> Logout </a></li>
            </ul>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>