<template name="navbar">
  <nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">LangTime</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <h4 class="nav-heading navbar-left"> {{username}} </h4>
      <ul class="nav navbar-nav pull-right">
        {{#if isStudent}}
          <li class="dashboard action">
            <a href="#">
              Dashboard
              <span class="sr-only">(Dashboard)</span>
            </a>
          </li>
          <li class="phrases action">
            <a href="#">
              Phrase Bank
              <span class="sr-only">(Phrase Bank)</span>
            </a>
          </li>
        {{/if}}
        {{#if loggedIn}}
          <li class="logout">
            <form action="#">
              <button class="btn btn-default navbar-btn logout">Logout</button>
            </form>
          </li>
        {{else}}
          <li class="login">
            <form action="#">
              <button class="btn btn-default navbar-btn login">Login</button>
            </form>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>